**Write a Pandas program to implement following operation**

1.  **To find and drop the missing values from the given dataset**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/kaggle/input/wrong-data/wrong_data.csv")

In [7]:
df

          Date  Duration
0   2019-12-01        30
1   2019-12-02        40
2   2019-12-03        43
3   2019-12-04        50
4     20191205        34
5   2019-12-06        41
6   2019-12-07       450
7   2019-12-08        55
8   2019-12-09        34
9   2019-12-10        30
10  2019-12-11        44
11  2019-12-11        44
12  2019-12-12        52
13  2019-12-13        39
14  2019-12-14        60
15  2019-12-15        33
16  2019-12-16        46
17  2019-12-17        51
18  2019-12-18        49
19  2019-12-19        36
20  2019-12-20        39
21  2019-12-21        41
22  2019-12-22        47
23  2019-12-23        42
24  2019-12-24        51
25  2019-12-25        59
26  2019-12-26        31
27  2019-12-27        38
28  2019-12-28        47
29  2019-12-29        35
30  2019-12-30        47

In [9]:
df.loc[31,'Date'] = '2019-12-31'

In [10]:
df

          Date  Duration
0   2019-12-01      30.0
1   2019-12-02      40.0
2   2019-12-03      43.0
3   2019-12-04      50.0
4     20191205      34.0
5   2019-12-06      41.0
6   2019-12-07     450.0
7   2019-12-08      55.0
8   2019-12-09      34.0
9   2019-12-10      30.0
10  2019-12-11      44.0
11  2019-12-11      44.0
12  2019-12-12      52.0
13  2019-12-13      39.0
14  2019-12-14      60.0
15  2019-12-15      33.0
16  2019-12-16      46.0
17  2019-12-17      51.0
18  2019-12-18      49.0
19  2019-12-19      36.0
20  2019-12-20      39.0
21  2019-12-21      41.0
22  2019-12-22      47.0
23  2019-12-23      42.0
24  2019-12-24      51.0
25  2019-12-25      59.0
26  2019-12-26      31.0
27  2019-12-27      38.0
28  2019-12-28      47.0
29  2019-12-29      35.0
30  2019-12-30      47.0
31  2019-12-31       NaN

In [11]:
df2=df.drop(31)

In [12]:
df2

          Date  Duration
0   2019-12-01      30.0
1   2019-12-02      40.0
2   2019-12-03      43.0
3   2019-12-04      50.0
4     20191205      34.0
5   2019-12-06      41.0
6   2019-12-07     450.0
7   2019-12-08      55.0
8   2019-12-09      34.0
9   2019-12-10      30.0
10  2019-12-11      44.0
11  2019-12-11      44.0
12  2019-12-12      52.0
13  2019-12-13      39.0
14  2019-12-14      60.0
15  2019-12-15      33.0
16  2019-12-16      46.0
17  2019-12-17      51.0
18  2019-12-18      49.0
19  2019-12-19      36.0
20  2019-12-20      39.0
21  2019-12-21      41.0
22  2019-12-22      47.0
23  2019-12-23      42.0
24  2019-12-24      51.0
25  2019-12-25      59.0
26  2019-12-26      31.0
27  2019-12-27      38.0
28  2019-12-28      47.0
29  2019-12-29      35.0
30  2019-12-30      47.0

2. **To remove the duplicates from the given dataset**

In [16]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [17]:
df.drop_duplicates(inplace=True)

In [18]:
print(df)

          Date  Duration
0   2019-12-01      30.0
1   2019-12-02      40.0
2   2019-12-03      43.0
3   2019-12-04      50.0
4     20191205      34.0
5   2019-12-06      41.0
6   2019-12-07     450.0
7   2019-12-08      55.0
8   2019-12-09      34.0
9   2019-12-10      30.0
10  2019-12-11      44.0
12  2019-12-12      52.0
13  2019-12-13      39.0
14  2019-12-14      60.0
15  2019-12-15      33.0
16  2019-12-16      46.0
17  2019-12-17      51.0
18  2019-12-18      49.0
19  2019-12-19      36.0
20  2019-12-20      39.0
21  2019-12-21      41.0
22  2019-12-22      47.0
23  2019-12-23      42.0
24  2019-12-24      51.0
25  2019-12-25      59.0
26  2019-12-26      31.0
27  2019-12-27      38.0
28  2019-12-28      47.0
29  2019-12-29      35.0
30  2019-12-30      47.0
31  2019-12-31       NaN